{% extends 'base.html' %}

{% block head %}
<head>
    <title>Researcher</title>
</head>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-md-5">
            {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for mes in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{mes}} 
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="card card-body">
                <form action="/add_res" method="POST">
                    <div class="form-group">
                        <input type="number" name="researcher_id" placeholder="Researcher ID" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="number" name="organization_id" placeholder="Organization ID" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="forename" placeholder="Forename" class="form-control">
                    </div>
                    <div class="form-control">
                        <input type="text" name="surname" placeholder="Surname" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" name="sex" placeholder="Gender" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="date" name="birthdate" placeholder="Birthdate" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="date" name="starting_work_day" placeholder="First day at work" class="form-control">
                    </div>
                    <div class="form-control">
                        <button type="submit" class="btn btn-primary btn-block">Save </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td>Researcher ID</td>
                        <td>Organization ID</td>
                        <td>Forename</td>
                        <td>Surname</td>
                        <td>Gender</td>
                        <td>Birthdate</td>
                        <td>First day at work</td>
                    </tr>
                </thead>
                <tbody>
                    {% for r in res %}
                        <tr>
                            <td>{{ r.0 }}</td>
                            <td>{{ r.1 }}</td>
                            <td>{{ r.2 }}</td>
                            <td>{{ r.3 }}</td>
                            <td>{{ r.4 }}</td>
                            <td>{{ r.5 }}</td>
                            <td>{{ r.6 }}</td>
                            <td>
                                <a href="/edit_res/{{r.0}}" class="btn btn-secondary">EDIT</a>
                                <a href="/delete_res/{{r.0}}" class="btn btn-danger">DELETE</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>

{% endblock %}